.container{
    position: relative;
}
.main__class{
    height: 100vh;
}
.img{
    /* width: 10%; */
    height: 100vh;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    padding: 3rem;
    width: 27rem;
    text-align: center;
    border-radius: 1rem;
}

button{
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
}